*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, rgb(127,79,190),rgb(79,42,165), rgb(127,60,100));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgb(31, 31, 31);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15;
}
.botao{
    width: 70px;
    height: 70px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(40, 40, 40);
    border: none;
    color: white;
}
.botaoigual{
    height: 148px;
    width: 70px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(255, 81, 0);
    border: none;
    color: white;
}
.botao0{
    height: 70px;
    width: 148px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(40, 40, 40);
    border: none;
    color: white;
}
.botaoDelAc{
    width: 70px;
    height: 70px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(190, 0, 0);
    border: none;
    color: white;
}
.botaoDelAc:hover{
    background-color: rgb(120, 0, 0);
}
.botao:hover{
    background-color: black;
}.botaoigual:hover{
    background-color: rgb(180, 66, 0);
}
#resp{
    width: 207;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
h2{
    padding: 15px;
}
h1{
    padding: 50px;
}